.lunbo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .lunbo_a {
    width: 76%;
  }
  .lunbo_b {
    position: relative;
    height: 500px;
  }
  .lunbo_b img {
    position: absolute;
  }
  .img1 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .img2 {
    bottom: 5px;
    left: 55px;
    background-size: 95% 100%;
  }
  .img3 {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 10px;
  }
  .four {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  .four_a {
    width: 76%;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    height: 200px;
    border: 1px solid #dcdcdc;
  }
  .four_b {
    position: relative;
    width: 25%;
    border-right: 1px solid #dcdcdc;
    box-sizing: border-box;
  }
  .four_b img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .four_b:hover .four_c {
    visibility: visible;
  }
  .four_c {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,.08);
    visibility: hidden;
  }
  .hot{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    }
    .hot_a{
      width: 76%;
      border-radius: 8px;
      border: 1px solid #dcdcdc;
      box-shadow: 0 3px 8px -6px rgba(0,0,0,.1);
      overflow: hidden;
      height: 490px;
    }
    .hot_b{
       border-bottom: 1px solid #dcdcdc;
       height: 60px;
       padding-left: 20px;
       line-height: 60px;
       font-size: 16px;
    }
    .hot_c{
      display: flex;
      overflow: hidden;
      flex-wrap: wrap;
    }
    .hot_d{
      height: 430px;
      width: 50%;
      transition: all 0.5s;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
    }
    .hot_d:hover{
      transform: translateY(-3px);
      box-shadow: 1px 1px 20px #999;
    }
    .hot_e img{
      width: 206px;
      height: 206px;
    }
    .hot_f{
      color: #424242;
      margin: 10px 0;
      }
    .hot_g{
      color: #d0d0d0;
      font-size: 10px;
      margin-bottom: 20px;
    }
    .hot_h{
      color: #d44d44;
      font-weight: bold;
      height: 34px;
      line-height: 34px;
      position: relative;
    }
    .hot_i{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: white;
      transition: all 0.6s;
      z-index: 2;
      visibility: hidden;
    }
    .hot_d:hover .hot_i{
      visibility: visible;
    }
    .hot_stuff div{
      text-align: center;
    }
    .jx{
      width: 76%;
      border-radius: 8px;
      border: 1px solid #dcdcdc;
      box-shadow: 0 3px 8px -6px rgba(0,0,0,.1);
      overflow: hidden;
      height: 922px;
    }
    .jx_a{
      height: 430px;
      width: 25%;
      transition: all 0.5s;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
    }
    .jx_a:hover{
      transform: translateY(-3px);
      box-shadow: 1px 1px 20px #999;
    }
     .jx_a:hover .hot_i{
      visibility: visible;
    }
    .jx_b{
      width: 50%;
      position: relative;
    }
    .jx_b img{
      width: 100%;
      height: 100%;
  }
  .jx_c{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    visibility: hidden;
  }
  .jx_b:hover .jx_c{
      box-shadow: inset 0 0 38px rgba(0,0,0,.08);
      visibility: visible;
      transition: all .15s ease;
  }